@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgb(137, 137, 171, 0.2);
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background: transparent;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
